*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 330px;
    height: 300px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.76);
    padding: 10px 20px;
    margin: 30% auto;
    border-radius: 7px;
}
.row {
    width: 100%;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 { width: 91.66%;}
.col-12 { width: 100%;}

.btn{
    width: 95%;
    height: 40px;
    line-height: 30px;
    text-align: center;
    font-size: 25px;
    border: none;
    cursor: pointer;
    background-color: white;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.76);
    box-shadow: 0 0 0.5 gray;
    border-radius: 7px;
    font-family: cursive;
}

.btn:hover{
    background-color: gray;
}

.num{
    margin-top: 20px;
}

.show-result {
    padding: 30px;
    width: 100%;
    height: 70px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.76);
    text-align: left;
    font-size: 30px;
    border-radius: 7px;
    font-family: cursive;
}